p{
  color: #FFFFFF;
  font-size: 120%;
}
h1{
  color: #FFFFFF;
}

.chevron {
  font-size: 2rem; /* Adjust size as needed */
  color: white;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.project-page {
    overflow-y: auto; /* Allow scrolling without snapping initially */
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.intro-section {
  height: 100vh; /* Keep full-screen height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  padding-top: 5vh; /* Adjust as needed */
}

/* Adjust scroll snapping */
.img-container {
    scroll-snap-align: start;
}

/* Remove scroll-snap-type from html */
