AppBar{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.NameLogo {
    font-size: 2em;     /* Increases the size of the text */
      /* Makes the text bold */
  }