/* slidingGallery.css */
#image-track {
  display: flex;
  gap: 4vmin;
  left: 50%;
  position: relative;
  top: 60%;
  user-select: none;
}

#galleryBody{
  margin-bottom: 10px;
}

.image-container {
  width: 30vmin;
  height: 40vmin;
  position: relative;
}

.image:hover{
  cursor: pointer;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:hover {
  cursor: pointer;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

  .image-container {
    width: 50vmin; /* Larger relative width on smaller screens */
    height: auto; /* Adjust height to maintain aspect ratio */
  }

  .image-label {
    font-size: 0.9em; /* Smaller font size for labels */
  }
}